<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Uredi događaj</h1>
  </div>
</section>

<div class="album py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card box-shadow">
        <div class="card-body">


          <div class="container">
            <div class="row">
              <div class="mt-3">
                <div class="shadow-sm bg-white">
                  <form [formGroup]="form" name="form" class="m-auto p-md-3" (ngSubmit)="updateDogadaj()">

                    <div class="input-group">
                      <div class="form-group col-md-6 col-sm-12">
                        <label for="text">Naziv događaja</label>
                        <input class="form-control" formControlName="naziv" id="text" required minlength="5" pattern="^[A-Za-z0-9_ ]*$" type="text">
                        <div class="text-danger" *ngIf="form.get('naziv')!.touched && !form.get('naziv')!.valid">
                          <div *ngIf="form.get('naziv')!.errors?.['required']">Naziv je obavezan!</div>
                          <div *ngIf="form.get('naziv')!.errors?.['minlength']">Naziv mora imati barem 5 znakova!</div>
                          <div *ngIf="form.get('naziv')!.errors?.['pattern']">Naziv ne smije imati simbole</div>
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label for="trajanje">Trajanje događaja</label>
                        <input class="form-control" formControlName="trajanjeDani" id="trajanje" required pattern="^[0-9]*$" type="text">
                        <div class="text-danger" *ngIf="form.get('trajanjeDani')!.touched && !form.get('trajanjeDani')!.valid">
                          <div *ngIf="form.get('trajanjeDani')!.errors?.['required']">Upis trajanja je obavezan!</div>
                          <div *ngIf="form.get('trajanjeDani')!.errors?.['pattern']">Trajanje je izrazeno u broju dana!</div>
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label for="datumPoc">Pocetak</label>
                        <input class="form-control" formControlName="datumPocetka" type="date" id="datumPoc">
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Mjesto</label>
                        <select class="form-control" formControlName="mjesto" >
                          <option *ngFor="let item of mjesta" [ngValue]="item" >
                            {{item.naziv}}
                          </option>
                        </select>
                      </div>

                    </div>
                    <div class="d-flex justify-content-between align-items-center">

                      <button class="btn btn-success col-12 col-md-3" type="submit">Spremi</button>
                      <button class="btn btn-secondary col-12 col-md-3" type="submit" routerLink="/">Odustani</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>
