<header>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <section class="jumbotron text-center bg-light">
      <div class="container">
        <h1 class="jumbotron-heading">Festivali</h1>
      </div>
    </section>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-3">
          <a routerLink="dodaj" class="nav-link">Dodaj događaj</a>
        </li>
        <li class="nav-item dropdown mr-3">
          <select  class="nav-link dropdown-toggle" (ngModelChange)="searchDogadajByYear(key.value)" #key='ngModel' ngModel name="key"  >
            <option value="" selected disabled hidden>Godine</option>
            <option  *ngFor="let item of dogadaji" [ngValue]="item.datumPocetka" >
              {{item.datumPocetka | date: "y"}}
            </option>
            <option value="" (click)="getDogadaj()">Sve godine</option>
          </select>
        </li>
        <li class="nav-item mr-3">
          <form class="form-inline my-2 my-lg-0">
            <input (ngModelChange)="searchDogadaj(key.value)" #key='ngModel' ngModel name="key" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
      </ul>

    </div>
  </nav>

</header>


<div class="album py-5 ">
  <div class="container">
    <div class="row">
      <div *ngFor="let dogadaj of dogadaji" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{dogadaj.naziv}}</h3>

            </div>
            <small class="text-muted">{{dogadaj.datumPocetka | date : "dd.MM.y" }}</small>
            <p class="card-text">Mjesto: {{dogadaj.mjesto.naziv}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="uredi/{{dogadaj.id}}">Uredi</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteDogadaji(dogadaj)">Obriši</button>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>

